{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Kasyap Krishnan">
  <title>Angular Admin</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://cdn.materialdesignicons.com/1.1.34/css/materialdesignicons.min.css" rel="stylesheet" >
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" rel="stylesheet">
  <link href="static/assets/css/style.default.css" rel="stylesheet">
  <script src="static/assets/js/jquery.js"></script>
  <script src="static/assets/chart.js/dist/Chart.bundle.js"></script>
  <script src="static/assets/js/jquery.sidr.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="mat-typography">
  <script>window.__theme = 'bs4';</script>
  <app-root>Loading...</app-root>
  <script type="text/javascript" src="{% static 'dashboard-dashboard-module-es5.js' %}"></script>
  <script type="text/javascript" src="{% static 'dashboard-dashboard-module-es2015.js' %}"></script>
  <script type="text/javascript" src="{% static 'default~dashboard-dashboard-module~ui-elements-ui-elements-module-es5.js' %}"></script>
  <script type="text/javascript" src="{% static 'default~dashboard-dashboard-module~ui-elements-ui-elements-module-es2015.js' %}"></script>
  <script type="text/javascript" src="{% static 'forms-forms-module-es5.js' %}"></script>
  <script type="text/javascript" src="{% static 'forms-forms-module-es2015.js' %}"></script>
  <script type="text/javascript" src="{% static 'main-es5.js' %}"></script>
  <script type="text/javascript" src="{% static 'main-es2015.js' %}"></script>
  <script type="text/javascript" src="{% static 'polyfills-es5.js' %}"></script>
  <script type="text/javascript" src="{% static 'polyfills-es2015.js' %}"></script>
  <script type="text/javascript" src="{% static 'runtime-es5.js' %}"></script>
  <script type="text/javascript" src="{% static 'runtime-es2015.js' %}"></script>
  <script type="text/javascript" src="{% static 'styles-es5.js' %}"></script>
  <script type="text/javascript" src="{% static 'styles-es2015.js' %}"></script>
  <script type="text/javascript" src="{% static 'tables-tables-module-es5.js' %}"></script></body>
  <script type="text/javascript" src="{% static 'tables-tables-module-es2015.js' %}"></script></body>
  <script type="text/javascript" src="{% static 'ui-elements-ui-elements-module-es5.js' %}"></script></body>
  <script type="text/javascript" src="{% static 'ui-elements-ui-elements-module-es2015.js' %}"></script></body>
  <script type="text/javascript" src="{% static 'vendor-es5.js' %}"></script></body>
  <script type="text/javascript" src="{% static 'vendor-es2015.js' %}"></script></body>
  <script type="text/javascript" src="{% static 'main.js' %}"></script></body>
</html>

